body{
    background-color: red;
    background: url('../../assets/img/1.jpeg');
}
@font-face {
    font-family: 'f';
    src: url('../../assets/fonts/fontawesome-webfont.ttf')
}
.rocket {
    font-family: f;
    font-size: 50px;
}
.rocket::before {
    content: '\f135';
}